
.slimScroll {
    border:0px solid #CCC;
    margin-top: 0px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 300px;
    width: 100%;
}
.slimScroll ul li{ margin-bottom: 20px; padding: 0px 0px 0px 30px; position: relative;}
.slimScroll ul li i{ position: absolute; left: 0px; top: 10px;color: #e44b39;font-size: 18px;}
.slimScroll ul li i.fal.fa-exclamation-circle{color: #317FBA;}

/* custom stylings */
.wrapper, .scroll-wrapper {
    padding: 5px;
}
.scroll-wrapper.mac + .scrollBarContainer{
    background-color: transparent;
}
.scrollBarContainer.animate .scroll{
    transition: 2s opacity ease;
    -ms-transition: 2s opacity ease;
    opacity: 0;
}
.scrollBarContainer:hover .scroll{
    opacity: 0.5;
    transition: none;
    -ms-transition: none;
}
.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.scroll{
    border-radius: 10px;
}
.wrapper + .scrollBarContainer{
    background-color: #eee9ee;
}
.scrollBar {
    background-color: #2FBD9B;
    border-radius: 10px;
    opacity: 0.5;
}
.scroll-bar{
    background-color: #14D1E0;
}
