
/* Regular400  Medium500   SemiBold600   Bold 700 */
/*.home_boxes_icon [class*="col-lg-6"] {margin-bottom: 30px;}*/
@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium.eot');
    src: url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Medium.woff') format('woff'),
        url('../fonts/SFProDisplay-Medium.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Medium.svg#SFProDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Semibold.eot');
    src: url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFProDisplay-Semibold.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Semibold.svg#SFProDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Bold.eot');
    src: url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
select::-ms-expand {display: none;}
a {-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease;}
h1 {font-size: 55px;color: #202E3F;margin: 0px 0px 20px 0px;padding: 0px;line-height: 1.2;font-weight: 700;font-family: 'SF Pro Display';}
h2 {font-size: 38px;color: #202E3F;margin: 0px 0px 20px 0px;padding: 0px;line-height: 1.2;font-weight: 700;font-family: 'SF Pro Display';}
h3 {font-size: 28px;color: #8a929a;margin: 0px 0px 20px 0px;padding: 0px;line-height: 1.2;font-weight: 700;font-family: 'SF Pro Display';}
h4 {font-size: 24px;color: #000;margin: 0px 0px 20px 0px;padding: 0px;line-height: 1.2;font-weight: 600;font-family: 'SF Pro Display';}
h5 {font-size: 20px;color: #202E3F;margin: 0px 0px 15px 0px;line-height: 1.4;font-weight: 600;font-family: 'SF Pro Display';}
h6 {font-size: 18px;color: #000;margin: 0px 0px 15px 0px;line-height: 1.2;font-weight: 500;font-family: 'SF Pro Display';}
.spacer1px {clear: both;line-height: 0;font-size: 0;overflow: hidden;background: #b3b3b3;height: 1px;margin: 20px 0px 20px 0px;width: 100%;border: none;}
.spacer10px {clear: both;line-height: 0;font-size: 0;overflow: hidden;height: 10px!important;background: none;margin: 0px 0px 0px 0px;width: 100%;border: none;}
.spacer20px {clear: both;line-height: 0;font-size: 0;overflow: hidden;height: 20px!important;background: none;margin: 0px 0px 0px 0px;width: 100%;border: none;}
.spacer30px {clear: both;line-height: 0;font-size: 0;overflow: hidden;height: 30px!important;background: none;margin: 0px 0px 0px 0px;width: 100%;border: none;}
.spacer50px {clear: both;line-height: 0;font-size: 0;overflow: hidden;height: 50px !important;background: none;margin: 0px 0px 0px 0px;width: 100%;border: none;}
.spacer80px {clear: both;line-height: 0;font-size: 0;overflow: hidden;height: 50px;background: none;margin: 0px 0px 0px 0px;width: 100%;border: none;}
.spacer-grid {clear: both;line-height: 0;font-size: 0;overflow: hidden;height: 26px;background: url(../images/grid.gif) repeat-x left top;margin: 0px 0px 0px 0px;width: 100%;border: none;}

body {overflow-x: hidden;color: #070707;font-size: 16px;line-height: 1.6;margin: 0px;padding: 0px;outline: none;text-decoration: none;list-style: none;box-sizing: border-box;font-family: 'SF Pro Display';background-color: #fcfcfc;font-weight: 500;}
p {color: #070707;font-size: 14px;line-height: 1.6;margin: 0px 0px 20px 0px;font-family: 'SF Pro Display';font-weight: 500;}
ul,ol {list-style: none;margin: 0;padding: 0;}
a:hover {text-decoration: none;}
.form-control::-webkit-input-placeholder {color:  #65878F !important;opacity: 1 !important;font-weight: 500;}
.form-control::-moz-placeholder {color:  #65878F !important;opacity: 1 !important;font-weight: 500;}
.form-control::-ms-input-placeholder {color:  #65878F !important;opacity: 1 !important;font-weight: 500;}
.form-control::-moz-placeholder {color:  #65878F !important;opacity: 1 !important;font-weight: 500;}
/*:focus, button:focus {outline-style:none;box-shadow:none;border-color:transparent;}*/
*:focus {outline: none;}
input:focus {outline: none;}
img {max-width: 100%;height: auto;outline: none;}
a {outline: none;border: none;}


.text-right {text-align: right;}
.color-main{color: #20BCE3;}
.color-gray{color: #8a929a;}
.cl-red{color:#E32020;}


.login-body {display: table;height: 100vh;min-height: 100vh;}
.main-wrapper {width: 100%;height: 100vh;min-height: 100vh;background-color: #f4fcfe;;}
.login-wrapper {width: 100%;height: 100%;display: table-cell;vertical-align: middle;}
.loginbox{text-align: center;padding: 40px 0;}
.login-wrapper .form-sign { background-color: #fff; border-radius: 6px;box-shadow: 0px 2px 12px 0px #0000000D;margin: 1.875rem auto;max-width: 500px;min-height: 400px;width: 100%;padding: 30px 50px;}
.form-box label{text-align: left;font-weight: 500;font-family: 'SF Pro Display';margin-bottom: 5px;}
.form-box-two label{text-align: left;}
.login-wrapper .form-ac-info { background-color: #fff; border-radius: 6px;box-shadow: 0px 2px 12px 0px #0000000D;margin: 1.875rem auto;min-height: 400px;width: 100%;padding: 30px 50px;text-align: left;}
.form-box {padding: 0 120px 15px 0px;}
.logo img {margin: 0 auto;}
.loginbox .logo{display: inline-block; height: 0px;}
.file {position: relative;display: inline-block;} 
.file > input[type='file'] {display: none}
.file > label {font-size: 16px!important;font-weight: 500;cursor: pointer;outline: 0;user-select: none;padding: 16px 48px;} 
.file > label > i {padding-right: 15px;    color: #000;}
.file--upload > label {color: #65878F;border-color: unset;background: #E9F8FC;border-radius: 10px;}
.file--upload > label:active {background-color: hsl(204, 86%, 91%);}
 .checkbox {display: inline-block;cursor: pointer;font-size: 14px; margin-right:25px; line-height:18px; color:#868686;}
input[type=checkbox] {display:none; }
.checkbox:before {content: "";display: inline-block;width: 22px;height: 22px;vertical-align:middle;background-color: #fff;color: #20BCE3;border-radius:4px;margin-right:8px; text-align:center; border: 1px solid #20BCE3;}
input[type=checkbox]:checked + .checkbox:before {content: "\2713";font-size: 14px;line-height: 20px;}
.checkbox a{ color:#20BCE3;}
.checkbox a:hover{ color:#333;}
.left-border{ padding: 0px 0px 0px 20px; position: relative;}
.left-border:before{width: 10px;height: 22px;left: 0px;top: 4px;background: #20BCE3;border-radius: 3px; content:'';position: absolute;}
.line-title{ position:relative;}
.line-title h6{ font-size: 16px; position: relative; display: inline-block; background: #fff;z-index: 1;padding: 0px 30px 0px 0px;}
.line-title:after{ content: ''; position: absolute; right: 0px; width: 100%; height: 1px; background-color:#D9D9D9; top: 15px;}
.tabbing-area .nav.nav-tabs{ margin-bottom: 20px;}
.subnav-tab .nav-tabs .nav-link{ background: none; color: #868686;border-bottom: 2px solid #fff;border-radius: 0;padding: 0;margin-right: 20px;}
.subnav-tab .nav-tabs .nav-link.active{color: #20BCE3;border-bottom: 2px solid #20BCE3;}

.services-panel{ display: grid;grid-template-columns: 1fr 1fr 1fr;grid-gap: 30px;}
.services-panel.v2{ grid-template-columns: 1fr 1fr ;}
.services-panel-box{ display:flex; justify-content: flex-start; align-items: center;}
.services-panel-box .form-control{ width: 90px; text-align: center;}
.services-panel-box label{ display: inline-block; margin: 0px;min-width: 150px;}
.success-msg h4{ margin: 20px 0px 10px;}
.success-msg p{ color:#7B7B7B; margin-bottom: 50px;}
.add-branch{ border: 2px dashed #20BCE3; background: #E9F8FC; border-radius: 10px; color: #65878F; text-align: center; display: flex; align-items: center; justify-content: center;min-height: 160px;}
.add-branch i{color: #868686; display: inline-block; margin: 0px 20px 0px 0px;}
.add-branch-whitebox{height: 100%; border-radius: 10px; color: #65878F; color: #868686;box-shadow: 0 2px 12px 2px rgba(0,0,0,0.04); padding: 15px;}
.add-branch-whitebox li{ margin-bottom: 10px; position: relative; padding: 0px 0px 0px 25px; color: #868686; font-size: 14px;}
#msform .addbranch-header{border: 0;}
.add-branch-whitebox li i{ position: absolute; left: 0px; top: 4px;}
.addbranch-header {display: flex;position: relative;border-bottom: 1px solid #D9D9D9;padding-bottom: 20px;}
.addbranch-logo{ flex: 0 0 45px;box-shadow: 0 2px 12px 2px rgba(0,0,0,0.04); text-align: center;align-items: center;justify-content: center;display: flex;border-radius: 10px;height: 45px;}
.addbranch-content{ margin: 0px 0px 0px 20px;}
.addbranch-content p{ margin: 0px; color: #868686; font-size: 12px;}
.addbranch-content h6{ margin: 0px; font-size: 16px;}
.addbranch-header .dlt{ position: absolute; right: 0px; color: #868686;}
.addbranch-header .dlt a{color: #868686;}
.addbranch-header .dlt a:hover{color: #ff0000;}
.addressbar [class*="col-md-4"] {margin-bottom: 30px;}
.title-inner{margin:20px 0;font-size: 22px;}
.inner-title-box h4.title-inner {
    margin: 0 !important;
  }

#new-order-modal .modal-body .checkbox-form-main{grid-template-columns: 1fr 1fr 1fr;}

#msform {position: relative;}
#msform fieldset {border: 0 none;border-radius: 0.5rem;box-sizing: border-box;width: 100%;margin: 0;padding-top: 0px;position: relative;}
#msform fieldset:not(:first-of-type) {display: none;}

#msform .action-button {color: #fff;font-weight:500;padding: 15px 40px;transition: .5s ease-in-out;border: none;background: #87C778;
	border-radius: 10px; width: 100%;}
#msform .action-button:hover, #msform .action-button:focus {background-color: #5FA84E;}
#msform .action-button-previous {color:#005295;border: 0 none;border-radius: 0px;cursor: pointer;padding: 10px 5px;width: auto; margin:0px;}
  
#progressbar {margin-bottom: 0px;color: lightgrey;width: 100%;display: flex;justify-content: center;position: relative;top:0px;z-index: 1;}
#progressbar .active {color: #2f2f2f;}
#progressbar li {list-style-type: none;font-size: 15px;/*width: 25%;float: left;padding: 0px 30px;*/position: relative;margin: 0px 5px; color: #8F8F8F;white-space: nowrap;flex: 1 1 auto; text-align: center;}
.progress {height: 20px;}
.progress-bar {	background-color: #ffa12d;}
.fit-image{width: 100%; object-fit: cover;}
.browse_img{border-top: 5px solid #ccc;margin-top: 25px;}
.browse_img_head {margin-top: 0px;}
.previous.action-button.disablebtn {color: rgba(0,0,0,.50) !important;pointer-events: none;background: none !important;padding: 10px 5px !important;}
#progressbar li i{ position: absolute; left: 0px; right: 0px; margin: 0 auto; top: 0px;top: 15px;font-size: 20px;}
.our_partners_head {margin-bottom: 50px;}
#msform .previous.action-button {color: #333;border: 0 none;border-radius: 0px;cursor: pointer;padding: 10px 5px;width: auto;margin: 0px; background: #fff;}
.formset-input{ margin-bottom: 20px;}
/* ////////////////////////HOME PAGE CSS///////// */
.bg-cl-light{background: #f5fdff;}
.left-side-menu {width: 250px;position: fixed;transition: all .1s ease-out;top: 0;z-index: 1;bottom: 0;background: #fff;    height: 100vh;padding: 0 15px;}
/* .fixedhead{position: fixed;top:0px;animation:slide-down 0.7s;opacity:1;width: 100%;background:#fff;z-index: 99;left:0px;padding:0px 0px;box-shadow: 0 1px 7px 0 rgba(0,0,0,.12);}    
.page-topbar.fixedhead{ background:rgb(255 255 255);padding: 20px 0;}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
} */
.edit-btn.mob{display: none;}
.mob-menu{display: none;}
.logo {display: flex;height: 130px;align-items: center;padding-left: 20px;}
.menu-cl{color: #20BCE3;font-size: 17px;padding: 10px 15px;display: block;}


.desktop-menu {position: relative;}
.desktop-menu ul li {position: relative;padding: 0px 0px 10px 0px;}
.desktop-menu ul li a {position: relative;padding: 10px 15px;width: 100%;display: flex;border-radius: 10px;font-family: 'SF Pro Display';font-style: normal;font-weight: 500;font-size: 15px;color: #868686;align-items: center;gap: 20px;}
.desktop-menu ul li img { width: 25px;filter: opacity(0.5);}
.desktop-menu ul li a.active {background: rgba(32, 188, 227, 0.1);color: #000000;font-weight: 600;}
.desktop-menu ul li a.active img{filter: invert(68%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);}
.desktop-menu ul li:hover a {background: rgba(32, 188, 227, 0.1);color: #000;}
.desktop-menu ul li:hover img { filter: opacity(1);}
.desktop-menu ul li a i {font-size: 18px;font-weight: normal !important;}

.mob-menu ul li img { width: 25px;filter: opacity(0.5);}
.mob-menu ul li a.active {background: rgba(32, 188, 227, 0.1);color: #000000;}
.mob-menu ul li a.active img{filter: invert(68%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);}
.mob-menu ul li:hover a {background: rgba(32, 188, 227, 0.1);color: #000;}
.mob-menu ul li:hover img { filter: opacity(1);}

.main-content {margin-left: 260px;}
.top-bar-title h5 {margin: 0;color: #000;font-weight: 600;font-size: 18px;}
.search-box{position: relative;}
.search-box i{position: absolute;top: 12px;left: 22px;font-size: 20px;color: #868686;}
.search-box input{padding: 10px 10px 10px 65px;min-height: 42px;}
.notify-box {display: flex;justify-content: end;align-items: center;width: 100%;gap: 25px;}
.notify-bell i {padding-right: 10px;font-size: 20px;position: relative;top: 4px;}
.notify-bell p {position: relative;}
.notify-bell i:after {position: absolute;content: '';background: #41ddff;width: 5px;height: 5px;top: 0;left: 0;border-radius: 50%;}
.profile-sec {display: flex;justify-content: space-between;align-items: center;border-top: 1px solid #D9D9D9;padding: 20px 0px 15px 0px;position: absolute;background: #fff;bottom: 0;left: 15px;right: 18px;}
.profile-img-box { display: flex;align-items: center;gap: 15px;}
.profile-img-box img {border-radius: 50%;width: 40px;height: 40px;}
.profile-txt h6, .profile-txt p{margin: 0;}
.page-content {overflow: hidden;padding-top: 20px;padding-right: 10px;padding-bottom: 80px;}
.profile-sec-mob{display: none;}
.overview-box {background: #FFFFFF;box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);border-radius: 10px;display: block;padding: 16px 22px;height: 100%;}
.overview-box p, .overview-box h4{margin: 0;}
.overview-box img{width: 100%;}
.cl-gray{color:#868686;font-weight: 400;}
.cl-light{color: #20BCE3;}
.left-border{ padding: 0px 0px 0px 20px; position: relative;margin: 0;}
.left-border:before{width: 10px;height: 22px;left: 0px;top: 2px;background: #20BCE3;border-radius: 3px; content:'';position: absolute;}
.gr-drop-select{display: flex;justify-content: space-between;gap: 15px;align-items: center;}
.d-select-box .form-select { width: 100%;    padding: 5px 35px 5px 15px;}
.d-export-txt{display: flex;gap: 5px;}
.ex-img {flex: 0 0 20px;}
.ex-img img{filter: opacity(0.5);}
.overlay-txt{display: flex;align-items: center;justify-content: space-between;width: 100%;}
.btn-dropdown .dropdown-item .fa-edit{font-size: 18px;color: #a1a1a1;margin-right: 10px;}
.btn-dropdown .dropdown-item .fa-trash-alt{color: red;font-size: 17px;margin-right: 10px;}
.table-box {display: flex;justify-content: space-between;width: 100%;align-items: center;}
.table-box-select{display: flex;align-items: center;gap: 20px;}
.table_responsive_maas {padding-top: 20px;}
.table_responsive_maas table {border-collapse: separate;border-spacing: 0 1em;}
.table_responsive_maas table tbody tr {border: 1px solid #E4E3E3;}
.table_responsive_maas table {border-collapse: separate;border-spacing: 0 0px;text-align: center;}
.table_responsive_maas table td {background: #ffffff;border-top: 1px solid transparent;font-size: 14px;vertical-align: middle;text-align: center;border-bottom: 1px solid rgba(32, 188, 227, 0.1);}

.table_responsive_maas table tr:nth-last-child(1) td{border: 0!important;}


.table_responsive_maas table td:first-of-type {border-top-left-radius: 0;border-bottom-left-radius: 0;border-left: 1px solid transparent;padding-left: 30px;border-top: 1px solid transparent;}
.table_responsive_maas table td:last-of-type {border-top: 1px solid transparent;border-top-right-radius: 0;border-bottom-right-radius: 0;border-right: 1px solid transparent;}
.table_responsive_maas thead th:first-of-type {border-top-left-radius: 10px;border-bottom-left-radius: 10px;padding-left: 30px;}
.table_responsive_maas table td img {min-width: 20px;}
.table_responsive_maas thead th:last-of-type {border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-right: 0px solid #E4E3E3;}
.table_responsive_maas thead th {color: #65878F;font-weight: 500;vertical-align: top;border-bottom: 0;background-color: #EDF6F9;text-align: center;}
.inner-title-box {display: flex;justify-content: space-between;align-items: center;}
.btn-flex{display: flex;gap: 20px;}
.tab-flex{display: flex;gap: 20px;}
 ul.col-line-3{columns: 3;}
.or-details-box li {padding: 0px 0 25px 0;}
.or-details-box li i {font-size: 18px;color: #868686;padding-right: 10px;}
.whitebox-shadow{background: #FFFFFF;box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);border-radius: 10px;display: block;padding:25px;}
.lefttab-nav{ margin-bottom: 30px;}
.lefttab-nav .nav-item {display: block;width: 100%;}
.lefttab-nav .nav-tabs .nav-link{ background-color: #fff;}
.lefttab-nav .nav-tabs .nav-link.active,.lefttab-nav .nav-tabs .nav-link:hover{ background-color: #20BCE3;}
.lefttab-nav .nav.nav-tabs {padding: 0px 20px 0px 0px;}
.line-title.lightcolor h6 {color: #868686;}
.setting-body .form-label{ font-size: 14px;}
.settings-subscribe-info{ position: relative; background: #EDF6F9;border-radius: 10px; padding: 15px; height: 100%;}
.settings-subscribe-info p{ color: #65878F; font-size: 12px; margin: 5px 0px 8px 0px;}
.settings-subscribe-info .ends{ color: #20BCE3;}
.settings-subscribe-info .btn-style-two {font-size: 14px;  padding: 5px 15px; height: 40px;}
.settings-subscribe-info .btn-style-two.backbtn2{ background: none;}
.settings-subscribe-info .btn-style-two.backbtn2:hover{ color: #333;}
.settings-subsc [class*="col-lg-6"] {margin-bottom: 30px;}
.checkbox-form-main{display: grid;grid-template-columns: 1fr 1fr;grid-gap: 30px;width: 85%;}
.checkbox-loop{ display: flex; align-items: center; justify-content: space-between;}
.checkbox-loop .checkbox{ margin: 0px; width: 100px;}
.settings-permission-main [class*="col-xl-4"] {margin-bottom: 30px;}
.settings-permission-info{ position: relative; background: #EDF6F9;border-radius: 10px; padding: 15px; height: 100%;}
.settings-permission-infotop{ display: flex; margin-bottom: 20px;}
.settings-permission-infotop img{ width: 40px; height: 40px; border-radius: 50%;}
.settings-permission-infotop1{flex: 0 0 55px;}
.settings-permission-infotop2{ color: #868686; font-size: 14px;}
.settings-permission-infotop2 h6{ margin-bottom: 2px;}
.settings-permission-info .btn-style-two.border{padding: 0 15px;height: 40px; font-size: 14px;}
.settings-permission-info .btn-style-two.backbtn2{height: 40px;font-size: 14px;padding: 0px 10px;}
.setting-body .add-branch{ border: none;}
.success-icon {text-align: center;}
.success-icon img{margin: 0 0 20px 0;}
.success-txt span {display: block;color: #7B7B7B;padding: 0 0 20px 0;font-weight: 400;}
.cloth-box {background: #FFFFFF;box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);border-radius: 10px;padding: 20px 25px;height: 100%;}
.cloth-data {display: flex;justify-content: space-between;align-items: center;width: 100%;padding-bottom: 20px;}
.cloth-img {display: flex;justify-content: space-between;gap: 15px;align-items: center;}
.cloth-content h6, .cloth-content p{margin: 0;}
.count-number input {background: #EDF6F9;box-shadow: 0px 1px 5px rgb(0 0 0 / 8%);border-radius: 10px;border: 0;width: 48px;height: 45px;text-align: center;}
.count-number {position: relative;padding-right: 25px;}
.count-number .plus {position: absolute;top: 0;right: 0;color: #1C1B1F;}
.count-number .minus {position: absolute;bottom: 0;right: 0;color: #1C1B1F;}
.count-in{display: grid;}
.graph-box .form-select{min-height: 38px;}
.table-box .form-select{min-height: 38px;}

.lefttab-nav .nav-tabs .nav-link {padding-top: 10px;padding-bottom: 10px;}
.settings-subscribe-info .btn-style-two.backbtn2:hover {background: none;}
.settings-subscribe-info .btn-style-two:hover{ color: #fff;}
.settings-permission-info .btn-style-two.backbtn2{ background:none;}
.settings-permission-info .btn-style-two.backbtn2:hover{  color:#000;}
.settings-profile{ position: relative; display: flex; align-items: center; justify-content: flex-start;margin-bottom: 30px; padding-top: 10px;}
.settings-profile img{ border-radius: 50%;box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);margin: 0px 20px 0px 0px;padding: 10px;width: 90px;height: 90px;}
.btn-style-two:hover {color: #fff;}

.inner-title-box h4{ margin-bottom: 0px;}
.driverbox-main{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;grid-gap: 30px; margin-bottom: 30px;}
.driverbox{background: #FFFFFF;box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);border-radius: 10px;display: block;padding:15px;height: 100%;}
.driverbox1{ position: relative;display: flex;border-bottom: 1px solid #D9D9D9;justify-content: space-between;padding: 0px 70px 20px 65px; top: 0px;flex-direction: column;}
.driverbox2 {display: grid;position: relative;margin-top: 20px;grid-template-columns: repeat(2, 1fr);text-align: center;gap: 30px;}
.driverbox2:after{ position: absolute; content: ''; left: 0px; right: 0; margin: 0 auto;top: 0px; height: 100%; width: 1px; background: #D9D9D9;}
.driverbox2-sub1{ flex-direction: column; color: #868686;font-size: 14px;}
.driverbox2-sub1 strong{ display: block; text-align: center; color: #20BCE3;font-weight: 700;font-size: 18px;}
.driverbox1 img {border-radius: 50%;box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);margin: 0px 20px 0px 0px;width: 50px;height: 50px;  position: absolute;
  left: 0;  top: 0;}

.order-count { font-size: 12px; background: #20BCE3;border-radius: 10px;color: #fff;text-align: center;line-height: 1.1;align-items: center;justify-content: center;display: flex; flex-direction: column; padding: 5px 10px; position: absolute; right: 0px;}
.order-count strong{ display: block; text-align: center; color: #fff;font-weight: 700; font-size: 16px;}
.driverbox1 h6{ font-weight: 600; color: #000000; margin-bottom: 0px; font-size: 16px;}
.avl-version{ color: #868686; font-size: 12px;}
.avl-version i{ color: #20E33F; font-size: 9px;margin: 0px 5px 0px 0px;}


.whitebox-panel{background: #FFFFFF;box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);border-radius: 10px;display: block;padding:20px; margin-bottom: 30px;}
.whitebox-panel-header{ display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px;}
.whitebox-panel-header a.viewall{ color: #20BCE3; font-size: 14px;}
.whitebox-panel-header a.viewall:hover{ color: #000;}
.whitebox-panel-body .table_responsive_maas table td{ border: none;}

.whitebox-panel-tabbing .nav-tabs {border-bottom: 1px solid #D9D9D9;}
.whitebox-panel-tabbing .nav-fill .nav-item{ margin: 0px;}
.whitebox-panel-tabbing .nav-tabs .nav-link{ background: #fff; color: #20BCE3 !important; border-bottom: 2px solid #fff; border-radius: 0px;}
.whitebox-panel-tabbing .nav-tabs .nav-link.active{border-bottom: 2px solid #20BCE3;}
.whitebox-panel-graph-body{ display: grid;grid-template-columns: 1fr 2fr ;grid-gap: 30px; padding: 30px 0px;border-bottom: 1px solid #D9D9D9; align-items: center; }
.whitebox-panel-graph-body1{ line-height: 1.3;}
.whitebox-panel-graphmain .whitebox-panel-graph-body:last-child{ border-bottom: 0px; padding-bottom: 0px;}
.font-style1{ font-size: 14px; color: #868686; display: block;}
.font-style2{ font-size: 12px;color: #868686; display: block;}
.font-style3{ font-size: 22px;color: #000; display: block;}
.font-style4{ font-size: 16px; color: #20E33F; display: block;}
span.dot1{ position: relative;}
span.dot1 i{ position: relative;}
span.dot1 i {position: relative;top: -2px;font-size: 6px;display: inline-block;padding: 0px 8px;}
.form-box-btn{ padding-top: 0px;}
.addressbar [class*="col-md-6"] {margin-bottom: 30px;}
.drivers-info{display: grid;grid-template-columns: 1fr 1fr ;grid-gap: 20px; margin-bottom:40px; padding-top: 10px;}
.drivers-info-box1{ color: #868686; font-size: 14px; font-weight: 400; position: relative; padding: 0px 0px 0px 30px;}
.drivers-info-box1 strong{ color: #000000; font-size: 16px; font-weight: 500;}
.drivers-info-box1 i{ position: absolute; left: 0px; top: 4px; font-size: 20px; color: #000;}
.drivers-info-box1 span.dot1 i{ color: #868686;}
.backbtn-title i{ display: inline-block; margin: 0px 20px 0px 0px;}
.backbtn-title a:hover{ color: #20BCE3;}
.driver-profile-top{display: flex; align-items: center; justify-content: space-between;margin-bottom: 30px;}
.driver-profile-top1{ position: relative;display: flex;align-items: center;}
.driver-profile-top1 img{border-radius: 50%;box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);margin: 0px 20px 0px 0px;left: 0;top: 0;}
.driver-profile-topbtn{ margin-bottom: 30px;}
.btn-dot:hover{ color: #000;}
.editbtn {background: #E9F8FC;border-radius: 10px;display: inline-block;width: 40px;height: 40px;line-height: 40px;text-align: center;margin: 0px 10px 0px 0px;}
.editbtn:hover{background: #20BCE3; color: #fff;}
.driver-profile-top2 {flex: 0 0 100px; margin: 0px 20px 0px 0px;}
.driver-profile-top3 h4 span{ color: #868686; font-weight: 400; font-size: 16px;}
.driver-profile-top3 .avl-version{ font-size: 16px; font-weight: 400;}
.driver-profile-top3 .avl-version i {font-size: 12px;}
.backbtn-title {padding-bottom: 20px;}

/* ///////////////Btn Style */
.btn-style-one{border: none; padding: 0px 35px;height: 45px;background: #20BCE3;border-radius: 10px;color: #fff;font-weight: 500;display: inline-flex;align-items: center;justify-content: center;transition: all .3s ease;}
.btn-style-one:hover{ background:#333;color: #fff;}
.btn-style-one i {display: inline-block;margin: 0 20px 0 0;font-weight: 200;}
.btn-style-two {border: none; padding: 0px 35px;height: 45px;background: #20BCE3;border-radius: 10px;color: #fff;font-weight: 500;display: inline-flex;align-items: center;justify-content: center;transition: all .3s ease;}
.btn-style-two:hover{ background:#333;}
.btn-style-two.border i {display: inline-block;margin: 0 20px 0 0;font-weight: 200;color: #000;}
.btn-style-two i {display: inline-block;margin: 0 20px 0 0;font-weight: 200;}
.btn-style-two:hover i{color: #fff;} 
.btn-style-two.backbtn{margin: 0px 0px 0px 20px;background: #E9F8FC; color: #65878F;}
.btn-style-two.backbtn:hover{ background:#333;color: #fff;}
.btn-style-two.border{margin: 0px 0px 0px 0px;background:none; color: #65878F; border: 1px solid #20BCE3 !important;}
.btn-style-two.border:hover{background:#20BCE3; color: #fff;}
.btn-style-two.backbtn2{background: #fff; color: #65878F;}
.btn-style-two.backbtn2:hover{background:#000;color: #fff;}
.btn-dot{background: transparent;border: none;font-size: 21px;color: #D9D9D9;font-weight: 900;}
.edit-btn {padding: 7px 18px;background: #E9F8FC;border-radius: 7px;display: inline-block;color: #65878F;font-weight: 500;font-size: 14px;}
.edit-btn:hover {background: #99eaff;}
.status-btn {padding: 8px 20px;background: #C7F3FE;border-radius: 7px;margin: 0px 0px 0 10px;color: #000;white-space: nowrap;}
.status-btn:hover{background-color: #99eaff;}
.edit-btn i{color: #000!important;}
.more-btn{color: #20bce3;font-size: 14px;transition: 0.5s ease;}
.more-btn:hover{color: #000;}
.more-btn i{padding: 0px 0px 0 10px;}
.more-btn:hover i{color: #000;}


.branch-inner {background: #FFFFFF;box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);border-radius: 10px;}
.branch-inner .whitebox-panel{box-shadow: unset;}
.branch-laundry img {border-top-left-radius: 10px;border-top-right-radius: 10px;}
.review-sec {display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid #D9D9D9;padding-bottom: 5px;padding-top: 5px;}
.review-sec:nth-last-child(1){border: 0;}
.review-profile-details {display: flex;align-items: center;padding-bottom: 10px;}
.review-content {padding: 0px 0px 0px 20px;}
.review-content h6 {margin-bottom: 4px;color: #000;font-size: 14px;}
.report-name li {display: inline-block;padding: 0 15px 0px 0px;font-size: 13px;color: #8F8F8F;position: relative;}
.selling-title-box li {display: inline-block;color: #FFC32B;}
.selling-title-box li i{padding-right: 5px;}
.border-round:before {position: absolute;content: '';width: 5px;height: 5px;background: #868686;left: -11px;top: 8px;border-radius: 50%;}
/* .branch-inner .services-panel{grid-template-columns: 1fr 1fr;} */

.laundry-small-logo img {box-shadow: 0 2px 12px 2px rgb(0 0 0 / 4%);background: #fff;border-radius: 10px;width: 90px;position: relative;top: -45px;left: 20px;margin-bottom: -30px;}
.p-v2{padding: 10px 20px;}
.delivery-box {display: flex;justify-content: space-between;align-items: center;width: 100%;border-bottom: 1px solid #D9D9D9;padding: 15px 0;}
.delivery-box:nth-last-child(1){border-bottom: 0;}
.delivry-content h6 {margin: 0;color: #868686;font-size: 15px;}
.delivry-content h6.active{color: #000;}
.delivry-content p {margin: 0;color: #868686;}
.delivry-content span {display: block;}
.graph-box h5{font-size: 17px;}


/* ===============SYSTEM ADMIN CSS============== */
.tran-flex {display: flex;align-items: center;gap: 25px;}
.tran-flex .search-box{flex: 0 0 460px;}
.cl-green{color: #20B939;}
.cl-red-dark{color:#B92020;}
.cl-65878F{color: #65878F;}
.pr-50{padding-right: 50px;}
.pr-80{padding-right: 80px;}
.tranfer-modal .form-select{width: 100%;}
.modal-view-title{display: flex;align-items: center;gap: 40px;}
.btn-green{background: rgb(32 185 57 / 10%);border-radius: 5px;padding: 4px 16px;color: #20B939;    transition: 0.5s ease;}
.btn-green:hover {background: rgb(32 188 227);color: #fff;}
.tran-item {display: flex;align-items: center;border-bottom: 1px solid rgba(101, 135, 143, 0.2);padding: 15px 0;}
.tran-first-item {flex: 0 0 230px;}
.tran-first-item i {padding-right: 10px;}
.tran-two-item i {padding: 0 10px;}
.tran-item:nth-last-child(1){border-bottom: 0;}
.font-18{font-size: 18px!important;}
.tran-two-item span {font-size: 14px;}
.avl-version-star{display: inline-block;margin-top: 8px;}
.avl-version-star i{color: #FFC32B;font-size: 16px;}
.branch-inner .addbranch-header{border: 0;}
.loginbox .addbranch-header{border: 0;}
.pb-200{padding-bottom: 200px;}
.laundry-request-flex{display: flex;justify-content: space-between;align-items: center;}
.request-counter span {background: #20bce3;color: #fff;padding: 5px 9px;border-radius: 50%;margin-right: 8px;font-size: 14px;}
.request-counter i{color: #868686;}


/* ////////////////////////////////// */
.form-sign.min-height-auto{ min-height: inherit;}
.form-box label{ font-size: 14px;}
.tab-content.setting-body .form-box {padding: 0 0px 10px 0px;}
.settings-grab-location { display: flex;}
.settings-grab-location .icon{background: #EDF6F9;box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);border-radius: 10px;display: inline-flex;justify-content: center;align-items: center;margin: 0px 0px 0px 20px;flex: 0 0 50px;}
.selectbox-mid-secboxes {/*display: flex;gap: 20px; justify-content: space-around;width: 82%;*/}
.selectbox-mid-secboxes1 { position: relative;width: 100%;}
.selectbox-mid-secboxes1 i{ position: absolute; left: 10px; top: 13px; font-size: 18px; color:#868686;}
.selectbox-mid-secboxes1 .form-select{ padding: 0px 0px 0px 35px;width: 100%;}
.table-box-select .btn-style-two{ height: 40px;}
.branch-admin-service-tabing {position: relative;margin: 20px 0px;}
.add-main-servicebtn{ font-size: 14px; font-weight: 500; color: #65878F; margin: 0px 0px 0px 20px;}
.add-main-servicebtn i{ display: inline-block;margin: 0px 15px 0px 0px; font-weight: normal;}
.input-writeup{ color: #65878F; font-size: 14px; font-weight: 500;}
a.blue-btn-link{ color: #20BCE3; font-size: 16px; font-weight: 500;}
a.blue-btn-link:hover{ color: #000;}
.btn-style-one.lightblue{margin: 0px 0px 0px 0px;background: #E9F8FC; color: #65878F;box-shadow: 0px 2px 6px rgb(0 0 0 / 8%);}
.btn-style-one.lightblue:hover{ background:#20bce3;color: #fff;}

.width-calc-less{  width: calc(100% - 70px);}
.settings-permission-info .btn-style-two.backbtn2:hover {color: #fff !important;}


@media only screen and (min-width:1801px) and (max-width:3400px) {

}
@media only screen and (min-width:1401px) and (max-width:1500px) {

}
@media only screen and (min-width:1301px) and (max-width:1400px) {
    .checkbox-form-main{width: 90%;}
    .driverbox-main{grid-template-columns: 1fr 1fr 1fr ;}
}
@media only screen and (min-width:1200px) and (max-width:1300px) {
    .settings-subscribe-info .d-flex{ display: block !important;}	
    .checkbox-form-main{grid-template-columns: 1fr 1fr;grid-gap:20px;width: 100%;}
    .table-box {display: block;}
    .table-box-select{margin-top:20px;    justify-content: end;}
    .driverbox-main{grid-template-columns: 1fr 1fr;}
    .services-panel {grid-template-columns: 1fr 1fr;}
}
@media only screen and (min-width:992px) and (max-width:1199px) {
h1 {font-size: 50px;}	

.settings-subscribe-info .d-flex{ display: block !important;}	
.checkbox-form-main{grid-template-columns: 1fr 1fr;grid-gap:20px;width: 100%;}
.checkbox-loop .checkbox{ margin: 0px; width: auto;}
.table-box {display: block;}
.table-box-select {justify-content: end;margin-top: 20px;}
.driverbox-main{grid-template-columns: 1fr 1fr;}
.top-bar-title{margin-top: 10px;}
.search-box{margin-top: 10px;}
.services-panel {grid-template-columns: 1fr;}

}
@media only screen and (min-width:768px) and (max-width:991px) {
.form-box {padding: 0 20px 30px 0px;}
.top-bar-title{margin-top: 10px;}
.search-box{margin-top: 10px;}
.notify-box {justify-content: start;}
.checkbox-form-main{grid-template-columns: 1fr;grid-gap:20px;width: 100%;}
.checkbox-loop .checkbox{ margin: 0px; width: auto;}
.table-box{display: block;}
.tab-flex {display: block;}
.tab-box{margin-top: 20px;}
.table-box-select {justify-content: end;margin-top: 20px;}
.btn-style-two {padding: 5px 20px;}
.btn-style-one {padding: 5px 20px;}

.driverbox-main{grid-template-columns: 1fr;}	
.driver-profile-top3 h4 {font-size: 18px; margin-bottom: 10px;}
.services-panel {grid-template-columns: 1fr;}

}
@media only screen and (min-width:768px) and (max-width:830px) {
.inner-title-box{display: block;}
.btn-flex{margin-top: 20px;}
}
@media only screen and (max-width:767px) {

.login-wrapper .form-ac-info{padding: 20px;}	
.form-box  {padding: 0 0px 30px 0px;}
.mob-menu{display: block;}
.desktop-menu{display: none;}
.left-side-menu {width: 100%;position: unset;height: 100%;}
.main-content {margin-left: 0;}
.logo {height: 80px;padding-left: 10px;}
.page-content {padding-right: 0px}
.overview-box {padding: 10px 12px;}
.top-bar-title{margin-top: 10px;}
.search-box{margin-top: 10px;}
.table_responsive_maas{overflow: auto;}
.table-box {display: block;}
.table-box-select {display: flex;align-items: center;gap: 5px;justify-content: end;margin-top: 20px;}
.d-selct-view{flex: 0 0 60px;}
.notify-box {justify-content: center;}
.page-topbar{text-align: center;}
.profile-sec-mob {display: block;position: absolute;top: 15px;right: 80px;}
.profile-sec-mob .profile-img-box {gap: 0px;}
.profile-sec{display: none;}
.profile-sec-mob .profile-img-box .dropdown-toggle::after{display: inline-block;margin-left: 0.255em;vertical-align: 0.255em;content: '\f078';font-family: 'Font Awesome 5 Pro';}
.settings-subscribe-info .d-flex{ display: block !important;}	
.checkbox-form-main{grid-template-columns: 1fr;grid-gap:20px;width: 100%;}
.checkbox-loop .checkbox{ margin: 0px; width: auto;}
.btn-style-one {padding: 0px 20px;}
.btn-style-two {padding: 5px 20px;}
.btn-flex {gap: 10px;margin-top: 10px;}
.tab-flex {display: block;}
.tab-box {margin-top: 20px;}
.d-mob-edit{display: none;}
.edit-btn.mob{display: block;position: absolute;top: 0;right: 0;}
.edit-btn.mob i{padding-right: 10px;}
.driverbox-main{grid-template-columns: 1fr;}	
.driver-profile-top,.selectbox-mid-secboxes1{ display: block;margin-bottom: 10px;}
.driver-profile-top2 {flex: 0 0 60px;margin: 0px 10px 0px 0px; text-align: right;}	
.driver-profile-topbtn .btn-style-two,.driver-profile-topbtn .btn-style-one{  margin: 0 0 10px 0;  width: 100%;}	
.driver-profile-top3 h4 {font-size: 18px; margin-bottom: 10px;}
.services-panel {grid-template-columns: 1fr;}
.tran-flex {display: block;}
#new-order-modal .modal-body .checkbox-form-main {grid-template-columns: 1fr 1fr ;}
.btn-flex,.settings-profile{display: block;}
.btn-style-one.lightblue {margin: 0px 5px 10px 0px;}
.width-calc-less{  width: calc(100% - 0px);}
.settings-profile img {margin: 0px 0px 20px 0px;}
.btn-style-two.backbtn {margin: 0px 0px 20px 0px;}

}
@media only screen and (max-width:580px) {
    .branch-inner .services-panel {grid-template-columns: 1fr;}

}
@media only screen and (min-width:300px) and (max-width:480px) {
    .tab-box .nav-tabs li.nav-item {width: 100%;}
    .inner-title-box{display: block;}

    
}
@media only screen and (min-width:260px) and (max-width:400px) {
    .profile-sec-mob {display: none;}
    .btn-flex{display: block;}
    .btn-flex .btn-style-two{margin-top:10px ;}
    .review-profile-details {display: block;}
    .review-sec {text-align: center;}
    .modal-view-title{display: block;}
    .btn-style-one.lightblue {margin: 0px 5px 10px 0px;}



}
@media only screen and (min-width:260px) and (max-width:350px) {
    .inner-title-box {display: block;}
    .btn-style-two.backbtn {margin: 0px 0px 0px 0px;}
    .form-ac-info .form-box {padding: 0 0px 15px 0px;}
    .margint-5{margin-top: 8px;}
    .tran-first-item {flex: 0 0 140px;}
    .btn-style-two {display: flex;margin-bottom: 10px;}
    .btn-style-one{display: flex;}
    .services-panel-box label {min-width: 100px;}

    
   
}


input,textarea {-webkit-user-select:text;}
select{-webkit-appearance: none;-moz-appearance: none;appearance: none;}

.back-to-top {width:40px;height:40px;line-height:40px;text-align:center;background:#202E3F;position:fixed;bottom:0px;right:0px;text-decoration:none;color:#fff;font-size:14px;display:none;z-index:999;}
.back-to-top:hover {opacity:.6;filter:alpha(opacity=60)}
.back-to-top:focus, .back-to-top:hover {color:#fff!important}











