@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
/* Regular400  Medium500   SemiBold600   Bold 700 */

select::-ms-expand { display: none; }
a{  -webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease;}
h1 {font-size:55px;color:#202E3F; margin:0px 0px 20px 0px;padding:0px;line-height: 1.2;font-weight:700;font-family: 'Open Sans', sans-serif;}
h2 {font-size:38px;color:#202E3F; margin:0px 0px 20px 0px;padding:0px;line-height: 1.2;font-weight:700;font-family: 'Open Sans', sans-serif;}
h3 {font-size:28px;color:#8a929a; margin:0px 0px 20px 0px;padding:0px;line-height: 1.2;font-weight:700;font-family: 'Open Sans', sans-serif;}
h4 {font-size:24px;color:#202E3F; margin:0px 0px 20px 0px;padding:0px;line-height: 1.2;font-weight:600;font-family: 'Open Sans', sans-serif;}
h5 {font-size:20px;color:#202E3F; margin:0px 0px 15px 0px;line-height: 1.4;font-weight:500;font-family: 'Open Sans', sans-serif;}
h6 {font-size:18px;color:#202E3F;margin:0px 0px 15px 0px;line-height: 1.2;font-weight:500;font-family: 'Open Sans', sans-serif;}

.spacer1px {clear:both;line-height:0;font-size:0;overflow:hidden; background: #b3b3b3; height:1px;  margin:20px 0px 20px 0px;width:100%; border:none;}
.spacer10px {clear:both;line-height:0;font-size:0;overflow:hidden;height:10px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer20px {clear:both;line-height:0;font-size:0;overflow:hidden;height:20px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer30px {clear:both;line-height:0;font-size:0;overflow:hidden;height:30px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer50px {clear:both;line-height:0;font-size:0;overflow:hidden;height:50px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer80px {clear:both;line-height:0;font-size:0;overflow:hidden;height:50px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer-grid {clear:both;line-height:0;font-size:0;overflow:hidden;height:26px; background:url(../images/grid.gif) repeat-x left top; margin:0px 0px 0px 0px;width:100%; border:none;}


body {
	overflow-x:hidden;
	color:#070707;
	font-size:14px;
	line-height:1.6; 
	margin:0px; 
	padding:0px; 
	outline:none;
	text-decoration:none;
	list-style:none;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	background-color:#fcfcfc;
}

p{color:#070707;font-size:14px;line-height:1.6;  margin:0px 0px 20px 0px;font-family: 'Open Sans', sans-serif;font-weight: normal;}
ul, ol {list-style: none;margin: 0;padding: 0;}
a:hover{ text-decoration:none;}
.form-control::-webkit-input-placeholder {color:#A2AAB1 !important; opacity:1 !important;}
.form-control::-moz-placeholder {color:#A2AAB1 !important; opacity:1 !important;}
.form-control::-ms-input-placeholder {color:#A2AAB1 !important; opacity:1 !important;}
.form-control::-moz-placeholder {color:#A2AAB1 !important; opacity:1 !important;}
/*:focus, button:focus {outline-style:none;box-shadow:none;border-color:transparent;}*/
*:focus {outline: none;}
input:focus{outline:none;}
img{max-width:100%;height:auto; outline:none;}
a{outline:none; border:none;}

/*=========================== Login ===========================*/

.login-register:before {content: "";width:50%;height: 100%;position: absolute;top: 0;left: 0;background: url(../images/login-bg.jpg) center center no-repeat;background-size: cover;min-height: 100vh;}
.login-form {}
.login-form li{ margin-bottom: 20px;}
.copyright-login{ position:relative; bottom: 0px; left: 0px; padding-bottom: 30px; font-size: 12px;max-width:400px;margin: 0 auto;width: 100%;right: 0;}
.login-right{ position: relative;max-width:400px;margin: 0 auto;padding-top: 100px;}
.login-form {padding-top: 50px;}
.login-form h3{ font-size: 21px; font-weight: normal;color: #000;padding-bottom: 20px;}
.terms-login a{ color:#2FBD9B; text-decoration: underline;}
.terms-login a:hover{text-decoration: none;}
.forget-pw{ display: block;}
.forget-pw a{ color:#000; text-decoration: underline; display: block; padding-top: 5px;}
.forget-pw a:hover{text-decoration: none;}
.copyright-login a{color: #2FBD9B;}
.copyright-login a:hover{text-decoration: underline;}
.terms-login {padding-top: 30px;}
.login-register {position: relative;}


/*=========================== Dashboard ===========================*/

.left-side-menu{width: 280px;position: fixed;transition: all .1s ease-out;top: 0;z-index: 1; border-right:1px solid #DFDEEB;bottom: 0;background: #fff;}
.logo{ display: flex; height: 90px; align-items: center;border-bottom: 1px solid #DFDEEB;padding-left: 20px;}


.desktop-menu{position: relative; padding-top: 30px;}
.desktop-menu ul li{position: relative; padding: 0px 0px 40px 50px;}
.desktop-menu ul li a{position: relative; font-size: 14px;}
.desktop-menu ul li a i{ position: absolute; left: -30px;top: 2px;font-size: 18px;font-weight: normal !important;}
.desktop-menu ul li a.active{ color: #2FBD9B; font-weight: 700;}
.desktop-menu ul li a:hover{ color: #2FBD9B; }
.desktop-menu ul li a.active:after{ content: '';background: #2FBD9B;width: 3px;height: 35px;position: absolute;left: -50px;top: -6px;}
.account-balance-left{ background-color: #e6f7f3; position: relative; border-radius: 10px; color: #A2AAB1; font-size: 12px;margin: 30px 20px 10px 20px;padding: 20px;}
.account-balance-left span{ color: #070A28; font-size: 20px; font-weight: bold; display: block;}
.page-topbar {position: fixed;top: 0;right: 0;z-index: 1002;background-color:#fff;-webkit-transition: all .1s ease-out;transition: all .1s ease-out;   left: 280px;}
.main-content {margin-left: 300px;}
.page-content {overflow: hidden;padding-top: 130px;padding-right: 10px;padding-bottom: 80px;}
.page-topbar{ display: flex; height: 90px; align-items: center;border-bottom: 1px solid #DFDEEB;padding-left: 30px;}
.topbanner {}
.top-balance{position: relative; padding: 30px 0px;}
.account-balance{ background: #e7f3ff; padding: 20px 20px 20px 60px;border-radius: 10px;position: relative;}

.top-balance .col-md-4:nth-child(2) .account-balance{ background: #e3f4f0;}
.top-balance .col-md-4:nth-child(3) .account-balance{ background: #fcf6ed;}
.account-balance i{position: absolute;left: 20px;top: 20px;font-size: 25px;font-weight: normal;}
.account-balance span{ display: block;font-size: 21px;font-weight: 600;}


.footer {font-size: 12px;padding: 20px 20px 20px 50px;position: absolute;right: 0;left: 250px;height: 60px;background-color: #fff;/*bottom: 0;*/color: #A2AAB1;}
.footer a{color: #A2AAB1;}
.footer a:hover{color: #333;}

.table_responsive_maas table {border-collapse:separate;border-spacing: 0 1em;}
.table_responsive_maas table tbody tr{ border:1px solid #E4E3E3;}
.table_responsive_maas table {border-collapse: separate;border-spacing: 0 10px;text-align: center;}
.table_responsive_maas table td {background: #ffffff;border-top: 1px solid #e4e3e3;/*border-bottom: 1px solid #dee2e6;*/ font-size:14px;vertical-align: middle;text-align: left;}
.table_responsive_maas table td:first-of-type{border-top-left-radius: 10px;border-bottom-left-radius: 10px;border-left: 1px solid #E4E3E3; padding-left:30px;border-top: 1px solid #E4E3E3;}
.table_responsive_maas table td:last-of-type{border-top: 1px solid #E4E3E3;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-right: 1px solid #E4E3E3; }
.table_responsive_maas thead th:first-of-type{border-top-left-radius: 10px;border-bottom-left-radius: 10px; padding-left:30px;}
.table_responsive_maas table td img{min-width: 20px;}
.table_responsive_maas thead th:last-of-type{border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-right: 0px solid #E4E3E3; /*padding-left:30px;*/}
.table_responsive_maas thead th{color:#5D6469; font-weight:500;vertical-align: top;border-bottom: 0;background-color: #f0f0f0;text-align: left;}
.pagetitle1{ color: #35393F; font-size: 21px; font-weight: 700; position: relative;padding-bottom: 10px;}
.pagetitle1 i{font-weight: normal; padding-right: 10px; display: inline-block;}
.boxes-section1 {margin-bottom: 20px; position: relative;}
.title-green{ font-weight: 700; color:#2FBD9B; font-size: 16px !important;}
.table_responsive_maas table tbody tr:hover{box-shadow: 0 3px 13px 1px rgba(0,0,0,0.07); border-radius: 10px;}
.dashboard_table_sec_top_right{position: relative;display: flex;}
.dashboard_table_sec_top_right ul{display: flex;align-items: center;}
.dashboard_table_sec_top_right ul li{display: inline-block;margin-left: 10px;}
.dashboard_table_sec_top_right ul li.prof_img{margin-left: 30px;}
.prof_img img{position: relative;width: 45px;height: 45px;border-radius: 50%;margin-right: 10px;}
.dashboard_table_sec_top_right ul li.list a.list_btn{padding: 8px;text-align: center;font-size: 20px;position: relative;
    border-radius: 8px; background: #f1f4fb;justify-content: center;height: 45px;width: 45px;display: flex;align-items: center;justify-content: center;color: #545b92;font-weight: 300 !important;}
.bg-dot {display: block;position: absolute; top: 0.6rem; right: 0.9rem; width: 7px; height: 7px; border-radius: 50%; background: #f72d66;cursor: pointer;}
.badge{color: #fff;background-color: #0dcd94;text-align: center; white-space: nowrap;vertical-align: baseline;font-weight: 500;position: absolute;top: 5px; right: 3px;display: block!important;padding: 3px 5px!important;
    width: 1rem;height: 1rem; border-radius: 100%; font-size: 11px;line-height: 1;}
.dashboard_table_sec_bottom{position: relative;padding: 10px 0;}
.bg_green{background: #018d3e;}
.head_logo_sec{position: absolute;bottom: -15px;left: 0px;width: 130px;}
.head_logo_sec img{width: 100%;}
/*#cssmenu {margin: 0 0 0 150px !important;}*/
.dashboard_table_sec_top{margin: 0 0 0 150px;}
#cssmenu > ul > li i{font-size: 16px;padding-right: 10px;}
.dashboard_table_sec_top_right .dropdown-item { margin:0px !important;}
.profile-header {background-color:#1b2a4e;padding: 15px;}
.prof_img .dropdown ul{ display:block;padding: 10px 0px;}
.dashboard_table_sec_top_right .dropdown-item i{width: 25px;  margin-right: 5px;font-weight: normal;}
.prof_img  .dropdown .dropdown-menu{width:200px;padding: 0px !important;margin-top: 12px !important;}
.profile-header {background-color:#1b2a4e;padding: 15px;}
.profile-header .content-text h6 {color: #fff;font-size: 15px;font-weight: 500;margin-bottom: 0px;}
.profile-header .content-text p {font-size: 12px;color: rgba(255, 255, 255, 0.85);font-weight: 500;}
.profile-header {border-radius: 5px 5px 0 0;}
.profile-header .thumb-area {margin-right:5px;}
.dashboard_table_sec_top_right .dropdown-item a{ display:block;padding-top: 5px;padding-bottom: 5px;font-size: 14px;}
.search-input .form-control{border: none;height:45px; min-height:45px;padding-left: 20px;padding-right: 20px;background-color: #f8f9fa;-webkit-box-shadow: none;box-shadow: none;border-radius: 30px;}
.search-input span{position: absolute;z-index: 10;font-size: 13px;line-height: 38px;right: 16px;top: 5px;color: #5b626b;}
.search-input{position:relative;}
.head-bar {position: relative;display: flex;justify-content: space-between;align-items: center; width: 100%; padding-right: 25px;}
.pagetitle-links{ color:#2FBD9B; text-decoration: underline; font-size: 16px;position: absolute;right: 0;top: 4px;}
.head-bar .btn-style-one {padding: 10px 20px;}
.list_btn {font-weight: 700;font-size: 14px;}
.list_btn .far.fa-angle-down {padding-left: 10px;}
.dashboard_table_sec_top_right ul li.extralink1{ margin: 0px 30px 0px 0px; font-size: 20px;}
.dashboard_table_sec_top_right ul li.extralink1 a:hover{ color: #ccc;}
.minimize{font-size: 20px;}



.left-side-menu.intro {width: 70px;}
.main-content.intro2 {margin-left: 80px;}
.page-topbar.intro3 {left: 70px;}
.left-side-menu.intro .desktop-menu ul li a span {display: none;}
.left-side-menu.intro .desktop-menu ul li {padding-bottom: 60px;}
.left-side-menu.intro .account-balance-left {display: none;}
.left-side-menu .logo a:nth-child(2){display: none;}
.left-side-menu.intro .logo a:nth-child(1){display: none;}
.left-side-menu.intro .logo a:nth-child(2){display: block;}
.left-side-menu.intro .logo {padding-left: 5px;}
.footer.intro4{left: 30px;}

.video-play-button {position: fixed;z-index: 10;bottom: 40px;right: 20px;box-sizing: content-box;display: block;width: 32px;height: 44px;/* background: #fa183d; */
border-radius: 50%;padding: 18px 20px 18px 28px;}

.video-play-button:before {content: "";position: absolute;z-index: 0;left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);
display: block;width: 50px;height: 50px;background: #2fbd9b;border-radius: 50%;animation: pulse-border 1500ms ease-out infinite;}

.video-play-button:after {content: "";position: absolute;z-index: 1;left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);display: block;width: 50px;height: 50px;background: #2fbd9b;border-radius: 50%;transition: all 200ms;}
.video-play-button span {display: block;position: relative;z-index: 3;width: 0;height: 0;font-size: 20px;left: 2px;top: 0px;color: #fff;line-height: 45px;}
  
  @keyframes pulse-border {
	0% {
	  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
	  opacity: 1;
	}
	100% {
	  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
	  opacity: 0;
	}
  }
  

.pagetitle-table-inner {border: 2px solid #2fbd9b;padding: 3px 5px;border-radius: 5px;font-size: 12px;}
.pagetitle-table-inner:hover{border: 2px solid #2fbd9b; background: #2fbd9b; color: #fff;}
.page-title{display: flex;justify-content: space-between;}
.page-fil-sidebar i {padding-left: 70px;}
.page-fil-sidebar {border: 2px solid #2fbd9b;padding: 10px 10px;border-radius: 5px;}
.page-title{padding-bottom: 20px;align-items: center;}
.page-title .pagetitle1{margin-bottom: 0;padding-bottom: 0;}
.hide {position: absolute;right: 0;background: aquamarine;height: 100%;top: 0;}



.modal-dialog,
.come-from-modal.right .modal-dialog{position: fixed;margin: auto;width: 320px;height: 100%;transform: translate3d(0%, 0, 0);}
.come-from-modal.right .modal-content{height: 100%;overflow-y: auto;border-radius: 0px;}
.come-from-modal.right .modal-dialog{right: 7px;transition: right 0.3s ease-out;}
.date-box{position: relative;}
.date-icon {position: absolute;top: 5px;right: 15px;font-size: 20px;}
.btn-style-trans{border: 2px solid #2fbd9b;}
.btn-style-trans i {position: absolute;right: 15px;top: 12px;font-size: 18px;}
.modal-form li{margin-bottom: 20px;}
.btn-style-two.width-auto{width: auto;}
.btn-style-two {color: #fff;border-radius: 4px;text-align: center;border: 1px solid #2FBD9B;padding: 10px 30px;width: 100%;background-color:#2FBD9B;transition: 0.5s ease-in-out;}
.btn-style-two:hover{background: #fff;color: #2FBD9B;border: 1px solid #2FBD9B;}
.port-hide {background: #fff;box-shadow: 0px 0px 20px #f7f7f7;padding: 25px 25px;margin-bottom: 30px;}
.datepicker td, .datepicker th {font-size: 13px;}
ul.dropdown-menu:after {position: absolute;content: '';top: -19px;right: 17px;border-top: 10px solid transparent;border-bottom: 10px solid #fffbfb;border-left: 10px solid transparent;border-right: 10px solid transparent;}

ul.dropdown-menu:before {position: absolute;content: '';top: -20px;right: 17px;border-left: 10px solid transparent;border-top: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid gray;}
.boxes-section1 ul.dropdown-menu {transform: translate(-80px, 52px)!important;min-width: 120px;padding: 0;margin-top: -20px !important;}
.boxes-section1 .dropdown-item {padding: 10px 10px;border-bottom: 1px solid gray;}
.dropdown-item.active, .dropdown-item:active {text-decoration: none;background-color: #e9ecef;color: #000;}
.boxes-section1 .dropdown-item:nth-last-child(3){border-bottom: none;}
.eye{color: #317FBA;}
.pen{color: #000;}
.trash{color: #E44B39;}
.active-color{color: #2FBD9B;}
.stop-color{color: rgb(150, 150, 150);}
.company-brand{color: #2FBD9B !important;font-weight: 600;text-decoration: underline;}
.mobile-header-logo {display: inline-block;}
.mobile-header {position: relative; display: none;}
.mobile-header-logo img{ width: 110px;}
.pagination-left label{ color: #67707A;}
.pagination-left .form-select{ border:none; background-color: #F2F3F3; color:#67707A;}
.page-title .btn.btn-style-trans {min-width: 200px;text-align: left;font-size: 14px;font-weight: 600; position: relative;}
.page-link.active{ color: #2FBD9B; font-weight: 700;}
ul.pagination li.page-item:first-child{ background: #f2f3f3;}
ul.pagination li.page-item:last-child{ background: #f2f3f3;}
.table_responsive_maas.v2 thead th:first-of-type {padding-left: 10px;}
.table_responsive_maas.v2 table td:first-of-type {padding-left: 10px;}
.table_responsive_maas.v2,.table_responsive_maas.v2 td {font-size: 12px;}
.th-head-icon {position: relative;padding-right: 16px;display: block;}
.th-head-icon .btn{ border: none;position: absolute; right: 0px; top: 3px;padding: 0;}
.white-space-nowrap{ white-space: nowrap;}
.dropdown ul li:last-child .dropdown-item{ border-bottom: none;}
.form-box1 {margin-bottom: 15px;}
.form-check .form-check-label{font-weight: 600;}
.boxes-exportlink{ position: relative;display: inherit;}
.boxes-exportlink .dropdown{ display: inline-block;border: 2px solid #2fbd9b;border-radius: .25rem; margin-right: 15px; width: 100px; font-weight: 600;}
.boxes-exportlink .dropdown i{ font-size: 18px;position: absolute;right: 10px;}
.boxes-exportlink .dropdown .btn{font-weight: 600;font-size: 14px;}
.boxes-section1 .boxes-exportlink ul.dropdown-menu{width: 100px !important;min-width: 100px !important;transform: none !important;
margin-top: 38px !important;border: 2px solid #2fbd9b;margin-left: -2px !important;border-radius: 0px 0px 4px 4px;}
.boxes-section1 .boxes-exportlink ul.dropdown-menu::before,.boxes-section1 .boxes-exportlink ul.dropdown-menu::after { display: none !important;}
.boxes-section1 .boxes-exportlink .dropdown-item {border-bottom: 1px solid #2fbd9b;}
.account-withdrawl h6{ font-size: 14px; font-weight: normal;}


.add-fund{}
.add-fund .nav-tabs{border-bottom: 1px solid #E3E5E7;}
.add-fund .nav-tabs .nav-link{ border-radius: 0px; color: #67707A;border: none; padding-bottom: 20px;}
.add-fund .nav-tabs .nav-link.active{ color: #2FBD9B; background: transparent; border-bottom: 5px solid #2FBD9B;}
.add-fund .nav-fill .nav-item{ margin: 0px;width: 50%;}
.add-funds-content{ line-height: 1.6; padding-top: 30px;}

.add-funds-timeline{ position: relative;}
.timeline-with-icons {border-left: 1px solid hsl(0, 0%, 90%);position: relative;list-style: none;padding-right: 100px;}
.timeline-with-icons .timeline-item {position: relative;padding-left: 30px;}
.timeline-with-icons .timeline-item:after {position: absolute;display: block;top: 0;}
.timeline-with-icons .timeline-icon {position: absolute;left: -15px;background-color: #fff;color: #000;border-radius: 50%;height: 30px;width: 30px;display: flex;align-items: center;justify-content: center; border: 1px solid #2FBD9B;}

.add-funds-borderline{ height: 1px; background: #E3E5E7;position: absolute;width: 100%;left: 0;}
.addfunds-btm{margin-top: 70px;}
.addfund-box{ display: none;}
.addfund-box.active2{ display: block;}
.add-fund .tab-content{ margin-top: 30px;}
.add-fund h3{color:#000000;}
.form-box1{ position: relative;}
.form-box1 .icon-symbol{ position: absolute;right: 20px;top: 43px; color: #A2AAB1;}
.form-box1 small{ display: block; color: #A2AAB1; padding-top: 10px;}
.timeline-item.mb-5 {margin-bottom: 30px !important;}
.profile-setings-btn{  border-bottom: 1px solid #E3E5E7; display: flex; margin: 25px 0px; font-weight: 600; color: #67707A; justify-content: space-between; align-items: center; text-align: center;}
.profile-setings-btn a{flex: 1 1 auto;border-bottom: 5px solid #fff; padding-bottom: 5px;color: #67707A;}
.profile-setings-btn a.active{ color:#2FBD9B; border-bottom: 5px solid #2FBD9B;}
.profile-setings-bodydesign{ border: 1px solid #E3E5E7; border-radius: 10px;} 
.profile-setings-bodydesign h6{ border-bottom: 1px solid #E3E5E7; padding: 25px; font-weight: 700; margin-bottom: 0px;}
.profile-setings-bodydesign2{padding: 25px; }
.profile-bar{ position: relative;}
.profile-bar-notify{ position: relative;}
.profile-bar{position: relative; background: #fff; border: 1px solid #E3E5E7; height: 100%; border-radius: 10px;}
.profile-bar-shape{background:#2FBD9B; height: 120px; border-radius: 10px;}
.profile-bar-body{ padding: 30px 30px 30px 45px; position: relative; display: flex;width: 100%;} 
.profile-bar-body2{ width: 100%;}
.profile-bar-body1 {flex: 0 0 230px;margin: -80px 40px 0 0;position: relative;}
.profile-bar-body1 img{ border: 10px solid #fff; border-radius: 50%;background: #fff;}
.profile-bar-body2 h3{ color: #35393F;margin: 0px 0px 30px 0px;}
.profile-bar-body2 p{ font-size: 18px; margin: 0px; padding-bottom: 5px;color: #35393F;}
.profile-bar-notify{position: relative; background: #fff; border: 1px solid #E3E5E7; height: 100%; border-radius: 10px; padding: 25px;}
.form-box1 .col-form-label .btn {padding: 0;float: right;}
.mydocument-box-download{ border: 1px solid #E3E5E7; border-radius: 10px; padding: 15px 20px; display: flex; align-items: center; justify-content: space-between; font-size: 18px; margin-bottom: 20px;}
.mydocument-box-download i{font-size: 22px;}

.checkbox {display: block;cursor: pointer;font-size: 14px;  line-height:18px; color:#000000; font-weight: 600;}
input[type=checkbox] {display:none; }
.checkbox:before {content: "";display: inline-block;width: 26px;height: 26px;vertical-align:middle;background-color: #fff;color: #2FBD9B;border-radius:6px;margin-right:8px; text-align:center;border: 1px solid #D5DAE2;}
input[type=checkbox]:checked + .checkbox:before {content: "\2713";font-size: 14px;line-height: 26px;}
.chkboxmain {padding-bottom: 10px;}

/*=========================== Button ===========================*/

.btn-style-one{color: #fff; border-radius:4px; text-align:center; border:1px solid #2FBD9B;padding: 12px 45px;background:#2FBD9B; transition: 0.5s ease-in-out; display:block; width: 100%; font-weight: 600;}
.btn-style-one:hover{background:#fff;color: #2FBD9B; border:1px solid #2FBD9B;}
.btn-style-one.widthless{width: 180px;}



@media only screen and (min-width:1801px) and (max-width:3400px) {

	
	
}
@media only screen and (min-width:1401px) and (max-width:1500px) {
.table_responsive_maas{overflow: auto;}	
	
	
}
@media only screen and (min-width:1301px) and (max-width:1400px) {
.table_responsive_maas{overflow: auto;}	
	
	
}
@media only screen and (min-width:1200px) and (max-width:1300px) {
.table_responsive_maas{overflow: auto;}	
.profile-bar-body1 {flex: 0 0 180px;margin: -80px 40px 0 0;}	
.nav-link{ font-size: 14px !important;}	
	
	
}
@media only screen and (min-width:992px) and (max-width:1199px) {
.table_responsive_maas{overflow: auto;}	
.profile-bar-body1 {flex: 0 0 150px;margin: -60px 40px 0 0;}	
.nav-link{ font-size: 14px !important;}



}
@media only screen and (min-width:768px) and (max-width:991px) {
h2 {font-size: 24px;}
.pagetitle1,.pagetitle-links, body, p {font-size: 14px;}	
.login-form h3 {font-size: 18px;}
.left-side-menu {width: 200px;}
.page-topbar {left: 200px;}
.main-content {margin-left: 200px;}	
.dashboard_table_sec_top_right ul li.extralink1 {margin: 0px 10px 0px 0px;}	
.dashboard_table_sec_top_right ul li.prof_img {margin-left: 10px;}
.head-bar .btn-style-one {padding: 10px 10px;font-size: 12px;}	
.desktop-menu ul li a {font-size: 14px;}	
.table_responsive_maas{overflow: auto;}		
.profile-bar-notify{ height: auto; margin: 20px 0px;}
.timeline-with-icons {padding-right: 0;}	
.nav-link{ font-size: 14px !important;}
.profile-bar-body1 {flex: 0 0 180px;}	
	
	
}
@media only screen and (max-width:767px) {

h2 {font-size: 24px;}
h3 {font-size: 22px;}	
.pagetitle1,.pagetitle-links {font-size: 14px;}
	
	
.login-register::before { display: none;}
.login-form h3 {font-size: 18px;}
.login-right { padding-top: 20px;}	
.left-side-menu{ display: none;}	
.main-content {margin-left: 0px;}
.page-topbar,.footer{ left: 0px;}	
.page-content {padding-top: 130px;padding-right: 0;}
.pagetitle1 i {padding-right: 5px;}	
.video-play-button {bottom: 10px;right: 10px;}	
.account-balance {margin-bottom: 20px;}	
.dashboard_table_sec_top_right ul,.dashboard_table_sec_top_right{ display: block;}
.page-topbar{ padding-left: 0px;height: 110px;}	
.minimize{ display: none;}
.head-bar {padding-right: 0;    display: block;}
.hidebtn{ display: none !important;}	
.afterlogin-head{ padding: 0px 15px;text-align: center;}	
.dashboard_table_sec_top_right ul li.extralink1 {margin: 0px 10px 0px 0px;font-size: 15px;}	
.list_btn {font-size: 12px;}	
.mobile-header {padding: 0px 0px 10px 15px;}	
.prof_img img {width: 35px;height: 35px;}	
.mobile-header {display: block;}	
.table_responsive_maas{overflow: auto;}	
.page-title .btn.btn-style-trans {min-width: 150px;}	
.profile-bar-body{ display: block;}	
.profile-bar-notify{ margin-top: 40px;height: auto;}	
.profile-bar-shape {height: 70px;}	
.profile-setings-btn a{ padding: 10px 20px;}	
.profile-setings-bodydesign{ margin-bottom: 30px;}	
.profile-bar-body1 img {border: 5px solid #fff;max-width: 100px;}
.nav-link{ font-size: 14px !important;}
.timeline-with-icons {padding-right: 0;margin-left: 10px;}	
.page-title{ display: block;}	
.page-title .pagetitle1 {margin-bottom: 15px;}

	
}
input,textarea {-webkit-user-select:text;}
select{-webkit-appearance: none;-moz-appearance: none;appearance: none;}

.back-to-top {width:40px;height:40px;line-height:40px;text-align:center;background:#202E3F;position:fixed;bottom:0px;right:0px;text-decoration:none;color:#fff;font-size:14px;display:none;z-index:999;}
.back-to-top:hover {opacity:.6;filter:alpha(opacity=60)}
.back-to-top:focus, .back-to-top:hover {color:#fff!important}
